   
            .box1{
                background-color: rgba(95, 238, 159, 0.974);
                height:50px;
                width:50px;
                border: none;

                
            }

            .box2{
                background-color: black;
                height:50px;
                width:50px;
                border: none;

                
               
            }